<!DOCTYPE html>
{% block content %}

<html lang="en">
  <head>
    <title>Juke</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap-dark.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <script src="/angular/angular.js"></script>
    <script src="./scripts/index.js"></script>
  </head>
  <body>
    <div id="main" class="container-fluid" ng-app="juke">

      <div class="col-xs-2" ng-controller="SideBarController">
        <sidebar>
          <img src="juke.svg" class="logo">
          <section>
            <h4 class="playlist-item active">
              <a href="#">ALBUMS</a>
            </h4>
            {{}}
          </section>
        </sidebar>
      </div>

      <div class="col-xs-10" ng-controller="MainViewController">
        <div class="album">
          <p>
              <h3>{{album.name}}</h3>
              <img ng-src="{{album.imageUrl}}" class="img-thumbnail">
          </p>
          <table class='table'>
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Artists</th>
                      <th>Genres</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="(key, song) in album.songs" ng-class="{active: song.isPlaying}">
                      <td>
                          <button class="btn btn-default btn-xs">
                              <span class="glyphicon glyphicon-play" ng-click="toggleSong(key)" ng-class="{'glyphicon-pause': song.isPlaying, 'glyphicon-play': !song.isPlaying}"></span>
                          </button>
                      </td>
                      <td>{{song.name}}</td>
                      <td>{{getArtistString(song.artists)}}</td>
                      <td>{{song.genres.join(", ")}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      <footer ng-show="activeIndex > -1">
        <div>
          <div class="pull-left">
              <button ng-click="toggleSong(activeIndex-1)" class="btn btn-default" ng-show="activeIndex > 0">
                  <span class="glyphicon glyphicon-step-backward"></span>
              </button>
              <button class="btn btn-default">
                  <span ng-click="pauseSong()" class="glyphicon glyphicon-pause"></span>
              </button>
              <button ng-click="toggleSong(activeIndex+1)" class="btn btn-default" ng-show="activeIndex < album.songs.length-1">
                  <span class="glyphicon glyphicon-step-forward"></span>
              </button>
          </div>
          <div class="bar">
              <div class="progress">
                  <div class="progress-bar" ng-style="{width: progress + '%'}"></div>
              </div>
          </div>
       </div>
      </footer>
    </div>

      

    </div>
  </body>
</html>