<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Juke</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap-dark.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <script src="/angular/angular.js"></script>
    <script src="./scripts/index.js"></script>
    <script src="./scripts/album.js"></script>
    <script src="./scripts/player.js"></script>
  </head>
  <body>
    <div id="main" class="container-fluid" ng-app="juke">
      <div class="col-xs-2">
        <sidebar>
          <img src="juke.svg" class="logo">
          <section>
            <h4 class="playlist-item active">
              <a href="#">ALBUMS</a>
            </h4>
            {{}}
          </section>
        </sidebar>
      </div>

      <div class="col-xs-10" ng-controller="AlbumController as ac">
        <div class="album">
          <p>
              <h3>{{ ac.album.name }}</h3>
              <img ng-src="{{ac.album.imageUrl}}" class="img-thumbnail">
          </p>
          <table class='table'>
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Artists</th>
                      <th>Genres</th>
                  </tr>
              </thead>
              <tbody ng-keyup="ac.readKey($event)">
                  <tr ng-repeat="(key, song) in ac.album.songs" ng-class="{active: ac.song.isPlaying}">
                      <td>
                          <button class="btn btn-default btn-xs">
                              <span class="glyphicon glyphicon-play" ng-click="ac.toggleSong(key)" ng-class="{'glyphicon-pause': song.isPlaying, 'glyphicon-play': !song.isPlaying}"></span>
                          </button>
                      </td>
                      <td>{{song.name}}</td>
                      <td>{{ac.getArtistString(song.artists)}}</td>
                      <td>{{song.genres.join(", ")}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
      
    </div>

      <footer>
        <div ng-controller="PlayerController as player" ng-hide="player.activeAudio.paused">
          <div class="pull-left">
              <button ng-click="player.playPreviousSong()" class="btn btn-default" ng-show="!player.firstSong">
                  <span class="glyphicon glyphicon-step-backward"></span>
              </button>
              <button class="btn btn-default">
                  <span ng-click="player.togglePauseButton()" class="glyphicon glyphicon-pause"></span>
              </button>
              <button ng-click="player.playNextSong()" class="btn btn-default" ng-show="!player.lastSong">
                  <span class="glyphicon glyphicon-step-forward"></span>
              </button>
          </div>
          <div class="bar">
              <div class="progress" ng-click="player.seekSong($event)">
                  <div class="progress-bar" ng-style="{width: player.progress + '%'}"></div>
              </div>
          </div>
       </div>
      </footer>

    </div>
  </body>
</html>